/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***********************
************************
****** Main Style ******
************************
************************
*/

body {
	width: 960px;
	margin: 10 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1{
	font-size: 3.5em;
	text-align: center;
	margin: 5% auto 4%;
	font-weight: 300;
}

/* Style for address input box*/
input{
	display: block;
	margin: 2% auto 2%;
	text-align: center;
	width: 100%;
	height: 2.3em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	outline: none;
	border: 1px solid #000;
}

input[type="text"]:focus {
	border-color: #4d90fe;
}

input::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
    font-size: 0.7em;
    font-weight: 300;
    padding-top: 5px;
}

input::-moz-placeholder {
    color: #000;
    opacity: 0.5;
    font-size: 0.7em;
    font-weight: 300;
    padding-top: 5px;
}

#resultContainer h1 {
	font-size: 2.8em;
	line-height: 1.5em;
	color: orchid;
}

.resultRow {
	background-color: #f8f8f8;
	margin: 20px 0;
	border: 1px solid #ccc;
}

.poster {
	margin: 5px;
	display: inline-block;
	background: 5px;
    width: 214px;
	height: 320px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.details {
	display: inline-block;
	width: 70%;
	line-height: 1.5em;
	padding: 20px;
	vertical-align: middle;
}

.details h2 {
	font-size: 30px;
	font-weight: 300;
	color: #5080E0;
	display: inline;
	padding-bottom: 10px;
	line-height: 1.4em;
}

.details h2.year {
	color: #aaa;
	padding-left: 10px;
}

.details p {
	font-size: 15px;
	padding-bottom: 10px;
}

.details p.tagline {
	color: #808080;
}

.button {
	width: 50px;
	height: 29px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}

.imdb {
	background-image: url("../img/imdb_logo.png");
}

.kickass {
	background-image: url("../img/kickass_logo.png");
	width: 40px;
	height: 40px;
}

.trailer {
	background-color: #60b044;
	text-decoration: none;
	border-radius: 4px;
	color: #fff;
	width: 120px;
	vertical-align: bottom;
	padding-top: 5px; 
}

b {
	font-weight: 700; 
}
